/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define _DEF 0
#define _NUM 1
#define _SYM 2
#define _NAV 3

&mt {
        tapping-term-ms = <230>;
};

/ {
keymap {
        compatible = "zmk,keymap";
        default_layer {                      					  
                bindings = <
                        // ---------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -------  |
                        // | |  TAB  | |  Q  | |  W  | |  E  | |  R  | |  T  |               |  Y  | |  U  | |  I  | |  O  | |  P  | |  BCK  | |
                        // |  -------   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -------  |
                        // | |CTRLDEL| |  A  | |  S  | |  D  | |  F  | |  G  |               |  H  | |  J  | |  K  | |  L  | |  :  | |   '   | |
                        // |  -------   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -------  |
                        // | |  SFT  | |  Z  | |  X  | |  C  | |  V  | |  B  |               |  N  | |  M  | |  ,  | |  .  | |  /  | | SFT ) | |
                        // |  -------   -----   -----   -----   -----   -----                 -----   -----   -----   -----   -----   -------  |
                        // |                          ----------   ----------     -------     ------------   ------                            |
                        // |                         | _NUM ESC | | _NAV ENT |   | GRAVE |   | SPACE      | | _SYM |                           |
                        // |                          ----------   ----------     -------     ------------   ------                            |
                        // ---------------------------------------------------------------------------------------------------------------------

                        &kp TAB          &kp Q   &kp W   &kp E      &kp R    &kp T               &kp Y       &kp U      &kp I       &kp O     &kp P      &kp BACKSPACE
                        &mt LCTRL DEL    &kp A   &kp S   &kp D      &kp F    &kp G               &kp H       &kp J      &kp K       &kp L     &kp SEMI   &kp APOSTROPHE
                        &mt LSHFT LPAR   &kp Z   &kp X   &kp C      &kp V    &kp B               &kp N       &kp M      &kp COMMA   &kp DOT   &kp FSLH   &mt LSHFT RPAR  
                                                 &lt _NUM ESC       &lt _NAV ENTER   &kp GRAVE   &mt LGUI SPACE   &mo _SYM
                        >;
                };

        number_layer {
		bindings = < 
                        // ----------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | | ESC ` | |  1  | |  2  | |  3  | |  4  | |  5  |                |  6  | |  7  | |  8  | |  9  | |  0  | |  BCK  | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |  BCK  | |  -  | |  +  | |  [  | |  ]  | |  |  |                |     | |  4  | |  5  | |  6  | |     | |       | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |       | |     | |     | |    |  |     | |     |                |  0  | |  1  | |  2  | |  3  | |  \  | |       | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // |                                   |     | |     |     |    |     | SPC | |     |                                   |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // ----------------------------------------------------------------------------------------------------------------------

                        &gresc          &kp N1      &kp N2     &kp N3     &kp N4     &kp N5               &kp N6   &kp N7   &kp N8   &kp N9   &kp N0    &trans
                        &kp BACKSPACE   &kp MINUS   &kp PLUS   &kp LBKT   &kp RBKT   &kp PIPE             &none    &kp N4   &kp N5   &kp N6   &none     &none
                        &none           &none       &none      &none      &none      &none                &kp N0   &kp N1   &kp N2   &kp N3   &kp BSLH  &none      
                                                                          &none      &none       &none    &trans   &none
                        >;         
                };

        symbol_layer {
		bindings = < 
                        // ----------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |   ~   | |  !  | |  @  | |  #  | |  #  | |  $  |                |  ^  | |  &  | |  *  | |  (  | |  )  | |  BCK  | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |  BCK  | |  _  | |  =  | |  {  | |  }  | |  |  |                |     | |     | |     | |     | |     | |       | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |  SPC  | |     | |     | |  ( | |   )  | |     |                |     | |     | |     | |     | |     | |       | |
                        // |  -------   -----   -----   -----   -----   -----       ----       -----   -----   -----   -----   -----   -------  |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // |                                   |     | |     |     |    |     | SPC | |     |                                   |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // ----------------------------------------------------------------------------------------------------------------------
                        
                        &kp TILDE       &kp EXCL    &kp AT      &kp HASH   &kp DLLR   &kp PRCNT           &kp CARET   &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &trans
                        &kp BACKSPACE   &kp UNDER   &kp EQUAL   &kp LBRC   &kp RBRC   &kp PIPE            &none       &none      &none      &none      &none      &none
                        &kp SPACE       &none       &none       &kp LPAR   &kp RPAR   &none               &none       &none      &none      &none      &none      &none      
                                                                              &none   &none       &none   &trans      &none 
                        >;         
                };

        navigation_layer {
		bindings = < 
                        // ----------------------------------------------------------------------------------------------------------------------
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |       | |     | |     | |     | |     | |     |                |     | |PG_UP| | UP  | |     | |     | |  BCK  | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |       | |     | |     | |     | |     | |     |                |HOME | |LEFT | |DOWN | |RIGHT| | END | |       | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // | |       | |     | |     | |    | |      | |     |                |     | |PG_DN| |     | |     | |     | |       | |
                        // |  -------   -----   -----   -----   -----   -----                  -----   -----   -----   -----   -----   -------  |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // |                                   |     | |     |     |    |     | SPC | |     |                                   |
                        // |                                    -----   -----       ----       -----   -----                                    |
                        // ----------------------------------------------------------------------------------------------------------------------
                        
                        &none        &none          &none          &none          &none   &none             &none      &kp PG_UP   &kp UP     &none       &none     &trans
                        &none        &none          &none          &none          &none   &none             &kp HOME   &kp LEFT    &kp DOWN   &kp RIGHT   &kp END   &none
                        &bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &none   &none             &none      &kp PG_DN   &none      &none       &none     &none
                                                                   &none          &none   &none  &trans     &none
                        >;         
                };
};
};
